ion-header {
  ion-navbar {
    .back-button {
      // color: color($colors, grey);
    }
  }
}

ion-content .scroll-content {
  background-color: $background-color;
  color: $text-color;
}

ion-footer {
  color: $text-color;
}



//
//
// ------------------------------------
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}



//
//
// ------------------------------------
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}



//
//
// ------------------------------------
.hc-toast {
  .toast-wrapper  {
    // background-color: color($colors, grey) !important;
  }
}

.no-badge {
  ion-badge {
    display: none;
  }
}



//
//
// ------------------
i.gradientlogo {
	position: absolute;
	height: 269px;
	width: 269px;
	border-radius: 55px;
	background: radial-gradient(#ffdc80, #fcaf45, #f77737, #f56040, #fd1d1d, #e1306c, #c13584, #833ab4, #5851db, #405de6);
	background-size: 175% 175%;
	background-position: right top;
	top: calc(50% - 135px);
	left: calc(50% - 135px);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, .4);
 &:before {
	 content: '';
	 position: absolute;
	 height: 160px;
	 width: 160px;
	 border: 20px solid white;
	 top: 35px;
	 left: 35px;
	 border-radius: 60px;
 }
 &:after {
	 content: '';
	 position: absolute;
	 height: 62px;
	 width: 62px;
	 border-radius: 50%;
	 border: 20px solid white;
	 left: 84px;
	 top: 84px;
 }
 span {
	 display: block;
	 position: absolute;
	 height: 25px;
	 width: 25px;
	 border-radius: 50%;
	 background: white;
	 left: 175px;
	 top: 70px;
 }
}


page-me ion-content #section-avatar {

	background-color: #F2DAFF !important;
	background: #F2DAFF -webkit-gradient(linear, left top, left bottom, from(#B4FFE5), to(#F2DAFF)) no-repeat !important;
	background: #F2DAFF -moz-linear-gradient(top, #B4FFE5, #F2DAFF) no-repeat !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4FFE5, endColorstr=#F2DAFF) no-repeat !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4FFE5, endColorstr=#B4FFE5)" no-repeat !important;

}
